streamlit
chromadb
langchain
langchain-core
langchain-community
langchain-chroma
langchain-huggingface
langchain-ollama

sentence-transformers
transformers
torch
huggingface_hub

pypdf
PyMuPDF

numpy
pandas
scikit-learn
python-dotenv
tqdm
regex
